<form name="authForm" ng-submit="vm.submit(authForm)" novalidate>
    <div class="alert alert-danger" ng-if="vm.message || (authForm.$invalid && authForm.$submitted)">
        <h4><i class="icon fa fa-warning"></i> {{vm.loc.errorTitle}}</h4>

        {{vm.message}}

        <div ng-show="authForm.email.$error.email || authForm.email.$error.required" ng-bind="vm.loc.errorEmail"></div>
        <div ng-show="authForm.password.$error.required" ng-bind="vm.loc.errorPassword"></div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': (authForm.email.$invalid && authForm.$submitted) }">
        <label class="control-label" for="email">{{vm.loc.email}} * </label>
        <input class="form-control" type="email" name="email" id="email" ng-model="vm.user.email" required/>
    </div>
    <div class="form-group" ng-class="{ 'has-error': (authForm.password.$invalid && authForm.$submitted) }">
        <label class="control-label" for="password">{{vm.loc.password}} *</label>
        <input class="form-control" type="password" name="password" id="password" ng-model="vm.user.password" required/>
    </div>

    <button type="submit" class="btn btn-primary pull-right" ng-bind="vm.loc.login">Login</button>
    <ng-transclude></ng-transclude>
</form>
