<form name="authForm" ng-submit="$ctrl.submit(authForm)" novalidate>
    <div ng-if="!$ctrl.success">
        <div class="alert alert-danger" ng-if="$ctrl.message || (authForm.$invalid && authForm.$submitted)">
            <h4><i class="icon fa fa-warning"></i> {{$ctrl.loc.errorTitle}}</h4>

            {{$ctrl.message}}

            <div ng-show="authForm.password.$error.required" ng-bind="$ctrl.loc.errorPassword"></div>
            <div ng-show="authForm.confirmPassword.$error.required" ng-bind="$ctrl.loc.errorConfirm"></div>
        </div>

        <ng-transclude></ng-transclude>

        <div class="form-group" ng-class="{ 'has-error': (authForm.password.$invalid && authForm.$submitted) }">
            <label class="control-label" for="password">{{$ctrl.loc.newPassword}} *</label>
            <input class="form-control" type="password" name="password" id="password" ng-model="$ctrl.user.password" required/>
        </div>

        <div class="form-group" ng-class="{ 'has-error': (authForm.password.$invalid && authForm.$submitted) }">
            <label class="control-label" for="confirmPassword">{{$ctrl.loc.confirm}} *</label>
            <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" ng-model="$ctrl.user.confirmPassword" required/>
        </div>

        <button type="submit" class="btn btn-primary pull-right" ng-bind="$ctrl.loc.submit"></button>


    </div>
    <div class="alert alert-success" ng-if="$ctrl.success">
        <h4><i class="icon fa fa-check"></i> {{$ctrl.loc.successResetPasswordTitle}}</h4>

        <p ng-bind="$ctrl.loc.successResetPassword"></p>

        <a ng-if="!$ctrl.isLoginPage" ng-href="{{$ctrl.loginUrl}}" ng-bind="$ctrl.loc.loginPage"></a>
    </div>
</form>
