<form name="authForm" ng-submit="$ctrl.submit(authForm)" novalidate>
    <div ng-if="!$ctrl.success">
        <div class="alert alert-danger" ng-if="$ctrl.message || (authForm.$invalid && authForm.$submitted)">
            <h4><i class="icon fa fa-warning"></i> {{$ctrl.loc.errorTitle}}</h4>

            {{$ctrl.message}}

            <div ng-show="authForm.email.$error.email || authForm.email.$error.required" ng-bind="$ctrl.loc.errorEmail"></div>
        </div>

        <p ng-bind="$ctrl.loc.forgotPasswordText"></p>

        <div class="form-group" ng-class="{ 'has-error': (authForm.email.$invalid && authForm.$submitted) }">
            <label class="control-label" for="email">{{$ctrl.loc.email}} * </label>
            <input class="form-control" type="email" name="email" id="email" ng-model="$ctrl.user.email" required/>
        </div>

        <button type="submit" class="btn btn-primary pull-right" ng-bind="$ctrl.loc.submit"></button>
        <ng-transclude></ng-transclude>
    </div>

    <div class="alert alert-success" ng-if="$ctrl.success">
        <h4><i class="icon fa fa-check"></i> {{$ctrl.loc.successForgotPasswordTitle}}</h4>

        <p ng-bind="$ctrl.loc.successForgotPassword"></p>

        <a ng-if="!$ctrl.isLoginPage" ng-href="{{$ctrl.loginUrl}}" ng-bind="$ctrl.loc.loginPage"></a>
    </div>
</form>
